@keyframes slidein {
    0% {
        opacity: 0;
        }
  
    100%{
        opacity: 1;
    }
}
@keyframes slidein2 {
    0% {
        opacity: 0;
        }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        display: none;
    }
}
.aboutMe{
    height: 1000px;
    transition: .5s;
    img{
        width: 50%;
        border-radius: 15px;
    }

}
.myPicture{
    margin: 0px 250px 100px 250px;
    background: url(../../public/img/myPicture2.gif) no-repeat right;
    background-size: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // text-align: center;

    p{
        font-size: var(--heading2);
        color: var(--green1);
    }
    p:first-child{
        font-size: var(--heading3);
        color: var(--gray2);
        box-shadow:none;
        animation-duration: 1s;
        animation-name: slidein;
        animation-fill-mode:both;
    }
    p:nth-child(2){
        animation-duration: 1s;
        animation-delay:.6s;
        animation-name: slidein;
        animation-fill-mode:both;
        line-height: 70px;
    }
    p:nth-child(3){
        animation-duration: 1s;
        animation-delay:1.2s;
        animation-name: slidein;
        animation-fill-mode:both;

    }
    p:nth-child(4){
        animation-duration: 1s;
        animation-delay:3s;
        animation-name: slidein;
        animation-fill-mode:both;

    }
    
}
.mypic{
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 40px;
    margin-top: 50px;
    font-size: var(--heading4);
    color: var(--gray1);
}

@media screen and (max-width:1024px){
    .aboutMe{
        margin: 100px 0px;
        height: 1000px;
    }
}
@media screen and (max-width:780px) {
    
}
@media screen and (max-width:441px){
  
}

