%title{
    font-size: var(--heading3);
    color: var(--green1);
    margin-bottom: 20px;
}
%text{
    font-size: var(--heading5);
    color: var(--gray2);
    line-height: 40px;
}
%flex{
    display: flex;
    justify-content: center;
    padding:15% 0px;
}
.project{
    display: flex;
    color: var(--brown2);
    font-size: var(--heading5);
    position:absolute;
    top: 100px;
    right: 0px;
    h1{
        font-size: var(--heading5);
        font-weight: bold;
    }
    p{
        margin-right: 70px;
    }
}
// page1--challenge
.challenge{
    @extend %flex;
    @extend %text;
    > div{
        margin: 0px 50px;
        width: 40%;
    }
    > ul{
        margin: 0px 50px;
    }
    h1{
        color: var(--green1);
    }
    li{
        color: var(--gray2);
        transition: .3s;
    }
    li::before{
        color: var(--green1);
        font-weight: bold;
    }
    li:hover{
        color: var(--green1);
    }
}


.phoneImg{
    position: relative;
    margin-bottom: 10%;
    padding-top: 10%;
    .charmingFImg{
        display: flex;
        overflow:scroll;
    }
    .charmingFImg::-webkit-scrollbar {
        display: none; /* Chrome Safari */
    }
    img{
        background-color: #fff;
        width: 20%;
        padding: 10px;
        margin: 0px 10px;
        border: 1px solid var(--gray3);
        border-radius: 15px;
    }
}
.colorlass{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 5%;
    height: 79.5%;
    background: linear-gradient(to right, rgba(0,0,0,0) , rgb(0, 0, 0,.2));
}

.kickoff{
    @extend %flex;
    padding: 100px 0px;
    background-color: var(--charming);
    align-items: center;
    .kickoffText{
        width: 30%;
    }
    h1{
        @extend %title;
    }
    p{
        @extend %text;
    }
    .kickoffImg{
        width: 40%;;
        margin-left: 50px;
        position: relative;
        img{
            border-radius: 15px;
           
        }
        img:last-child{
            position: absolute;
            right: 0%;
            top: -10%;
            // animation-name: kickoff;
            // animation-duration: 3s;
            // animation-iteration-count: infinite;
            // animation-fill-mode: backwards;
            // animation-direction: alternate-reverse;
        }
    }
}
.marketingResearch{
    @extend %flex;
    img{
        margin-right: 5%;
        border-radius: 15px;
        width: 50%;
        box-shadow:5px 2px 10px var(--gray2);
        margin-bottom: 50px;
    }
    h1{
        @extend %title;
    }
    p{
        @extend %text;
    }
}
.rightFixBar{
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    position: fixed;
    top:30%;
    right: 30px;
    line-height:30px;
    color:var(--brown2)
}