@keyframes slidein {
    0% {
        opacity: 0;
        }

    100%{
        opacity: 1;
    }
}
@keyframes slideinUp{
    from {
        opacity: 0;
        transform: translateY(50%); 
      }
    
      to {
        opacity: 1;
        transform: translateY(0%);
      }
}
%flex{
    display: flex;
    align-items: center; 
  }
  %header{
    font-size: var(--heading1);
    text-align: center;
    line-height: 100px;
    padding-bottom: 50px;
  }
  %text{
    font-size: var(--heading4);
    line-height: 50px;
    color: var(--gray2);
    text-align: center;
    padding-bottom: 20px;
  }
  %img{
    border-radius: 15px;
    box-shadow: 0px 0px 10px var(--gray2);
    transition: .5s;
  }
.mainpage-header{
    hgroup{
        animation-duration: 1s;
        animation-name: slidein;
        animation-fill-mode:both;
        @extend %flex;
        flex-direction: column;
        margin-top: 20%;
        p:first-child{
            color: var(--yellow2);
            font-size: var(--heading2);
            line-height: 70px;
        }
        p{
            font-size: var(--heading4);
            color: var(--gray2);
            line-height: 30px;
            
        }
        img{
            width: 100px;
            object-fit: cover;
        }
        .icon{
            margin-top: 120px;
            font-size: var(--heading1);
            color: var(--gray2);
            transition: .2s;
        }
        .icon:hover{
            color: var(--gray1);
        }
    }
}
.slideinUP{
    animation-duration: 1s;
    animation-name: slideinUp;
    animation-fill-mode: both;  
}
.noneSlide{
    opacity: 0;
}
.charming{
    margin: 100px 0px;
    p{
        @extend %text;
    }
    p:first-child{
        @extend %header;
        color: #795252;
        
    }
    /* 圖片外圍最大div */
    .introduceImg{ 
        display: flex;
        flex-wrap: wrap;
        > div{
            width:calc(33% - 10px);
            margin: 0px 5px;
        }
        img{
            @extend %img;
            width: 100%;
        }
    }
}
.if{
    margin: 100px 0px;
    p{
        @extend %text;
    }
    p:first-child{
        @extend %header;
        color: var(--yellow1);
    }
    .ifImg{
        @extend %flex;
        justify-content: center;
        > div{
            text-align: center;
            margin: 0px 5px;
        }
        > div:last-child{
            margin-left: 0px;
        }
        img{
            width: 100%;
            @extend %img;
        }
    }
   
}
.momBaby{
    p{
        @extend %text;
    }
    p:first-child{
        @extend %header;
        color: var(--gray2);
    }
    .momBabyImg{
        display: flex;  
        align-items: center;
        justify-content: space-between;
        .video{
            position: relative;
            width: 50%;
            height: 0;
            padding-bottom: 28%;
            
            iframe{
                margin: 0px 10px;
                @extend %img;
                border: none;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
        
        img{
            width: 50%;
            @extend %img;
        }
    }
    

}
@media screen and (max-width:1024px){
    %header{
        font-size: var(--heading3);
        text-align: center;
        line-height: 50px;
        padding-bottom: 0px;
      }
}
@media screen and (max-width:780px) {
    .charming{
        margin: 0px;
    }
    .charming .introduceImg > div {
        width: calc(50% - 10px);
      }
      %text{
        font-size: var(--heading5);
        line-height: 30px;
        color: var(--gray2);
        text-align: center;
        padding-bottom: 20px;
      }
      .mainpage-header hgroup p:first-child {
        font-size: var(--heading3);
      }
}
@media screen and (max-width:441px){
    .mainpage-header hgroup .icon {
        margin: 50px 0px;
    }
    .charming .introduceImg > div {
        width: 100%;
      }
    %header{
        font-size: var(--heading4);
        text-align: center;
        line-height: 50px;
        padding-bottom: 0px;
      }
      .if{
        margin: 0px;
      }
      .if .ifImg {
        display: block;
      }
      .momBaby .momBabyImg {
        display:block;
      }
      .momBaby .momBabyImg img {
        width: 100%;
      }
      .momBaby .momBabyImg .video {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 58%;
      }
      .momBaby .momBabyImg .video iframe {
        margin: 0px;
        margin-top: 20px;
      }
}




