%flex{
    display: flex;
    align-items: center; 
  }
  %header{
    font-size: var(--heading1);
    text-align: center;
    line-height: 70px;
    // padding-bottom: 50px;
    font-weight: 500;
  }
  %text{
    font-size: var(--heading4);
    line-height: 50px;
    color: var(--gray2);
    text-align: center;
    padding-bottom: 20px;
  }
  %img{
    border-radius: 15px;
    box-shadow: 0px 0px 10px var(--gray2);
    transition: .5s;
  }
.mainpage-header{
    hgroup{
        animation-duration: 1s;
        animation-name: slidein;
        animation-fill-mode:both;
        @extend %flex;
        flex-direction: column;
        margin-top: 20%;
        p:first-child{
            color: var(--yellow2);
            font-size: var(--heading2);
            line-height: 70px;
        }
        p{
            font-size: var(--heading4);
            color: var(--gray2);
            line-height: 30px;
            
        }
        img{
            width: 100px;
            object-fit: cover;
        }
        .icon{
            margin-top: 120px;
            font-size: var(--heading1);
            color: var(--gray2);
            transition: .2s;
        }
        .icon:hover{
            color: var(--gray1);
        }
    }
}
.charming{
    margin: 100px 0px;
    p{
        @extend %text;
    }
    h1{
        @extend %header;
        color: #795252;
        
    }
}
.videoCharming{
    @extend %flex;
    p{
        width: 50%;
        padding-right: 1%;
    }
    div{
        position: relative;
        width: 50%;
        height: 0;
        padding-bottom: 30%;
    }
    iframe{
        margin: 0px 10px;
        @extend %img;
        border: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
.seeMore{
    position:relative;
    height: 25vh;
    button{
        position: absolute;
        top:50%;
        left:50%;
        transform:translate(-50%, -50%);
        white-space:nowrap;
        border:none;
        box-shadow: 0px 0px 5px var(--gray1);
        color: var(--gray2);
        background-color: #fff;
        font-size: var(--heading4);
        padding: 1% 2%;
        border-radius: 15px;
        Cursor:pointer;
        transition: .5s;
    }
    button:hover{
        border-color: var(--gray1);
        color: var(--gray1);
        box-shadow: 0px 0px 10px var(--gray1);

    }
}
.if{
    margin: 100px 0px;
    p{
        @extend %text;
    }
    hgroup{
        p:first-child{
            @extend %header;
            color: var(--if);
        }
    }
    .ifImg{
        @extend %flex;
        div{
            margin: 0px 5px;
            margin-left: 50px;
        }
        img{
            width: 100%;
            @extend %img;
        }
    }
   
}
.momBaby{
    margin-bottom: 10%;
    p{
        @extend %text;
    }
    hgroup{
        p:first-child{
            @extend %header;
            color: var(--momBaby);
        }
    }
}
@media screen and (max-width:1024px){
    %header{
        font-size: var(--heading3);
        text-align: center;
        line-height: 50px;
        padding-bottom: 0px;
      }
}
@media screen and (max-width:780px) {
    .charming{
        margin: 0px;
    }
    .charming .introduceImg > div {
        width: calc(50% - 10px);
      }
      %text{
        font-size: var(--heading5);
        line-height: 30px;
        color: var(--gray2);
        text-align: center;
        padding-bottom: 20px;
      }
      .mainpage-header hgroup p:first-child {
        font-size: var(--heading3);
      }
}
@media screen and (max-width:441px){
    %header{
        font-size: var(--heading4);
      }
    .mainpage-header hgroup .icon {
        margin: 50px 0px;
    }
    .videoCharming{
        flex-direction: column;
        p{
            width: 100%;
            padding-right: 0;
            margin-top: 10%;
        }
        div{
            order: -1;
            width: 100%;
            height: 100px;
        }
        iframe{
            margin: 0;
        }
    }
    .seeMore{
        height: 15vh;
        button{
            font-size: var(--heading5);
            padding: 3% 5%;
        }
    }
    
      .if{
        margin: 0px;
      }
      .if .ifImg {
        display: block;
      }
      .if .ifImg div{
        margin: 0px;
    }
      .momBaby .momBabyImg {
        display:block;
      }
      .momBaby .momBabyImg img {
        width: 100%;
      }
      .momBaby .momBabyImg .video {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 58%;
      }
      .momBaby .momBabyImg .video iframe {
        margin: 0px;
        margin-top: 20px;
      }
}




