@-webkit-keyframes slidein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slidein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes slidein2 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@keyframes slidein2 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
.aboutMe {
  transition: 0.5s;
}
.aboutMe img {
  width: 40%;
  border-radius: 15px;
}

.myPicture {
  margin: 0px 250px 100px 250px;
  background: url(../../public/img/myPicture2.gif) no-repeat right;
  background-size: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.myPicture p {
  font-size: var(--heading2);
  color: var(--green1);
}
.myPicture p:first-child {
  font-size: var(--heading3);
  color: var(--gray2);
  box-shadow: none;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-name: slidein;
          animation-name: slidein;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.myPicture p:nth-child(2) {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
  -webkit-animation-name: slidein;
          animation-name: slidein;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  line-height: 70px;
}
.myPicture p:nth-child(3) {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
  -webkit-animation-name: slidein;
          animation-name: slidein;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.myPicture p:nth-child(4) {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation-name: slidein;
          animation-name: slidein;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.mypic {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 40px;
  margin-top: 50px;
  font-size: var(--heading4);
  color: var(--gray1);
}
.mypic p {
  padding-left: 50px;
}

@media screen and (max-width: 1280px) {
  .myPicture {
    margin: 0px 50px 100px 50px;
  }
}
@media screen and (max-width: 1180px) {
  .mypic {
    font-size: var(--heading5);
    line-height: 30px;
  }
}
@media screen and (max-width: 650px) {
  .myPicture {
    margin: 0px;
    background: url(../../public/img/myPicture2.gif) no-repeat top;
    background-size: 200px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
  }
  .myPicture p {
    font-size: var(--heading4);
  }
  .mypic {
    flex-direction: column;
  }
  .mypic img {
    width: 100%;
  }
  .mypic p {
    padding: 0px;
  }
}