.text h1, .backgroundColor h1, .concept h1 {
  font-size: var(--heading3);
  color: var(--green1);
  margin-bottom: 20px;
}

.text p, .backgroundColor p, .concept p, .challenge {
  font-size: var(--heading5);
  color: var(--gray2);
  line-height: 40px;
}

.wireframe, .backgroundColor, .concept, .challenge {
  display: flex;
  justify-content: center;
  padding: 15% 0px;
}

.project {
  display: flex;
  color: var(--brown2);
  font-size: var(--heading5);
  position: absolute;
  top: 100px;
  right: 0px;
}
.project h1 {
  font-size: var(--heading5);
  font-weight: bold;
}
.project p {
  margin-right: 70px;
}

.challenge > div {
  margin: 0px 50px;
  width: 40%;
}
.challenge > ul {
  margin: 0px 50px;
}
.challenge ul {
  list-style-type: none;
  counter-increment: li;
}
.challenge h1 {
  color: var(--green1);
}
.challenge li {
  color: var(--gray2);
  transition: 0.3s;
  counter-increment: li;
}
.challenge li::before {
  color: var(--green1);
  font-weight: bold;
  content: "0" counter(li) ". ";
}
.challenge li:hover {
  color: var(--green1);
}

.concept {
  align-items: center;
}
.referTo {
  width: 100%;
  padding-right: 50px;
}

.sidemap {
  background-color: var(--charming);
  padding: 8% 0px;
}

.phoneRWD {
  padding: 10% 0px;
  text-align: center;
}

.phoneImg {
  position: relative;
  margin-bottom: 10%;
}
.phoneImg .charmingFImg {
  display: flex;
  overflow: scroll;
}
.phoneImg .charmingFImg::-webkit-scrollbar {
  display: none;
  /* Chrome Safari */
}
.phoneImg img {
  background-color: #fff;
  width: 20%;
  padding: 10px;
  margin: 0px 10px;
  border: 1px solid var(--gray3);
  border-radius: 5%;
}

.colorlass {
  position: absolute;
  top: 0%;
  right: 0;
  width: 5%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
}

.backgroundColor {
  background-color: var(--charming);
}
.backgroundColor .backgroundColorText {
  width: 30%;
}
.backgroundColorImg {
  width: 40%;
  margin-right: 50px;
  position: relative;
}
.backgroundColorImg img {
  border-radius: 5%;
}
.backgroundColorImg img:last-child {
  position: absolute;
  right: 0%;
  top: -10%;
}

.wireframe {
  align-items: center;
}
.wireframe img {
  width: 50%;
  border-radius: 5%;
  margin-left: 50px;
}

.styleGuide {
  background-color: var(--charming);
  padding: 5% 0;
  text-align: center;
}

.styleGuideImg {
  display: flex;
  align-items: flex-start;
  overflow: scroll;
}
.styleGuideImg img {
  margin: 4% 1%;
  width: 30%;
  border-radius: 5%;
}

.styleGuideImg::-webkit-scrollbar {
  display: none;
  /* Chrome Safari */
}

.prototype {
  padding: 2% 0;
  text-align: center;
  background-color: var(--charming);
}

.prototypeImg {
  height: 100vh;
  overflow: scroll;
}
.prototypeImg img {
  width: 80%;
  border-radius: 15px;
}
.prototypeImg p {
  font-size: var(--heading4);
  color: var(--gray2);
  line-height: 300%;
}

.prototypeImg::-webkit-scrollbar {
  display: none;
}

.mockup {
  text-align: center;
  padding: 5% 0px;
}

.github {
  display: flex;
  justify-content: center;
}
.github button {
  border: 2px solid var(--green1);
  background-color: #fff;
  font-size: var(--heading4);
  padding: 1% 1.5%;
  border-radius: 15px;
  color: var(--green1);
}