.text h1, .backgroundColor h1, .concept h1, .challenge h1 {
  font-size: var(--heading3);
  color: var(--green1);
  margin-bottom: 20px;
}

.issue div p, .text p, .backgroundColor p, .concept p, .challenge {
  font-size: var(--heading5);
  color: var(--gray2);
  line-height: 40px;
}

.wireframe, .backgroundColor, .concept, .challenge {
  display: flex;
  justify-content: center;
  padding: 15% 0px;
  translate: 0.5s;
}

.issue img, .prototypeImg img, .styleGuideImg img, .phoneImg img {
  padding: 10px;
  box-shadow: 0px 0px 10px var(--gray2);
  border-radius: 15px;
}

.project {
  display: flex;
  color: var(--brown2);
  font-size: var(--heading5);
  position: absolute;
  top: 100px;
  right: 0px;
}
.project h1 {
  font-size: var(--heading5);
}
.project p {
  margin-right: 70px;
}

.challenge > div {
  margin: 0px 50px;
  width: 40%;
}
.challenge > ul {
  margin: 0px 50px;
  list-style-type: none;
  counter-reset: li;
}
.challenge h1 {
  color: var(--green1);
}
.challenge li {
  color: var(--gray2);
  transition: 0.3s;
  counter-increment: li;
}
.challenge li::before {
  color: var(--green1);
  font-weight: bold;
  content: "0" counter(li) ". ";
}
.challenge li:hover {
  color: var(--green1);
}

.concept {
  align-items: center;
}
.referTo {
  width: 100%;
  padding-right: 50px;
}

.sidemap {
  background-color: var(--charming);
  padding: 8% 0px;
}

.phoneRWD {
  padding: 10% 0px;
  text-align: center;
}

.phoneImg {
  position: relative;
  margin-bottom: 10%;
}
.phoneImg .charmingFImg {
  display: flex;
  overflow: scroll;
}
.phoneImg .charmingFImg::-webkit-scrollbar {
  display: none; /* Chrome Safari */
}
.phoneImg img {
  background-color: #fff;
  width: 20%;
  margin: 10px 10px;
}

.animation {
  font-weight: bold;
  font-size: var(--heading1);
  color: var(--green1);
  text-shadow: 0px 0px 10px #fff;
  z-index: 10;
  position: absolute;
  top: 40%;
  right: 5%;
}

.colorlass {
  position: absolute;
  top: 0%;
  right: 0;
  width: 5%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
}

.backgroundColor {
  background-color: var(--charming);
}
.backgroundColor .backgroundColorText {
  width: 30%;
}
.backgroundColorImg {
  width: 40%;
  margin-right: 50px;
  position: relative;
}
.backgroundColorImg img {
  border-radius: 15px;
}
.backgroundColorImg img:last-child {
  position: absolute;
  right: 0%;
  top: -10%;
}

.wireframe {
  align-items: center;
}
.wireframe img {
  width: 50%;
  border-radius: 15px;
  margin-left: 50px;
}

.styleGuide {
  background-color: var(--charming);
  padding: 5% 0;
  text-align: center;
}
.styleGuide figure {
  position: relative;
}

.styleGuideImg {
  display: flex;
  align-items: flex-start;
  overflow: scroll;
}
.styleGuideImg img {
  background-color: #fff;
  margin: 4% 1%;
  width: 30%;
}

.styleGuideImg::-webkit-scrollbar {
  display: none; /* Chrome Safari */
}

.prototype {
  padding: 2% 0;
  text-align: center;
  background-color: var(--charming);
}

.prototypeImg img {
  width: 70%;
  background-color: #fff;
}
.prototypeImg p {
  font-size: var(--heading4);
  color: var(--gray2);
  line-height: 300%;
}

.prototypeImg::-webkit-scrollbar {
  display: none;
}

.mockup {
  text-align: center;
  padding: 5% 0px;
}

.github {
  display: flex;
  justify-content: center;
}
.github button {
  border: none;
  background-color: var(--charming);
  font-size: var(--heading4);
  margin-top: 10%;
  padding: 2% 4%;
  border-radius: 15px;
  color: var(--green1);
  cursor: pointer;
}
.github button:hover {
  box-shadow: 0px 0px 10px var(--gray2);
}

.issue {
  display: flex;
  padding: 6% 0 11% 0;
  justify-content: flex-start;
}
.issue hgroup {
  width: 30%;
  margin: 0% 5%;
  font-size: var(--heading3);
  line-height: 50px;
  text-align: center;
  white-space: nowrap;
}
.issue hgroup p:first-child {
  font-size: var(--heading4);
  color: var(--green1);
}
.issue div {
  margin: 0 15% 0 10%;
  width: 50%;
}
.issue img {
  margin-top: 10%;
}

.cssIssue {
  background: linear-gradient(90deg, var(--charming) 40%, transparent 40%) center/100% 100%, rgb(53, 53, 53);
}
.cssIssue hgroup {
  color: var(--gray1);
}
.cssIssue img {
  background-color: #fff;
}

.dataPicture {
  color: var(--gray2);
  background: linear-gradient(90deg, rgb(53, 53, 53) 40%, transparent 40%) center/100% 100%, var(--charming);
}
.dataPicture img {
  background-color: rgb(45, 45, 45);
}

@media screen and (max-width: 1024px) {
  .issue hgroup {
    width: 30%;
    margin: 0%;
    font-size: var(--heading5);
  }
  .issue hgroup p:first-child {
    font-size: var(--heading5);
  }
  .issue div {
    margin: 0 0% 0 3%;
    width: 50%;
  }
  .cssIssue {
    background: linear-gradient(90deg, var(--charming) 30%, transparent 30%) center/100% 100%, rgb(53, 53, 53);
  }
  .dataPicture {
    color: var(--gray2);
    background: linear-gradient(90deg, rgb(53, 53, 53) 30%, transparent 30%) center/100% 100%, var(--charming);
  }
}
@media screen and (max-width: 780px) {
  .project {
    display: none;
  }
  .challenge, .concept, .backgroundColor, .wireframe {
    padding: 10% 0px;
    translate: 0.5s;
  }
  .challenge h1, .concept h1, .backgroundColor h1, .text h1 {
    font-size: calc(var(--heading3) - 4px);
    font-weight: 500;
  }
  .challenge, .concept p, .backgroundColor p, .text p, .issue div p {
    font-size: var(--heading4);
    line-height: 35px;
  }
  .challenge > div {
    margin: 0 40px 0 0;
    width: 100%;
  }
  .challenge > ul {
    margin: 0px;
    width: 100%;
  }
  .backgroundColor {
    align-items: flex-start;
    padding: 100px 20px;
  }
  .backgroundColor .backgroundColorText {
    width: 100%;
    padding-right: 20px;
  }
  .backgroundColorImg {
    width: 100%;
    margin-right: 20px;
    position: relative;
  }
  .concept {
    flex-direction: column;
  }
  .referTo {
    padding-right: 0px;
    padding-bottom: 10%;
  }
  .issue hgroup {
    width: 30%;
    margin: 0%;
    font-size: var(--heading5);
  }
  .issue hgroup p:first-child {
    font-size: var(--heading5);
  }
  .issue div {
    margin: 0 5% 0 10%;
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .challenge, .concept, .backgroundColor, .wireframe {
    flex-direction: column;
    align-items: center;
    padding: 10% 0px;
  }
  .challenge > div {
    width: 100%;
  }
  .issue {
    flex-direction: column;
  }
  .cssIssue {
    background: rgb(53, 53, 53);
  }
  .dataPicture {
    color: var(--gray2);
    background: var(--charming);
  }
  .dataPicture img {
    background-color: rgb(45, 45, 45);
  }
}