.charming img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.project {
  display: flex;
  color: var(--brown2);
  font-size: var(--heading5);
  position: absolute;
  top: 100px;
  right: 0px;
}
.project h1 {
  font-size: var(--heading5);
  font-weight: bold;
}
.project p {
  margin-right: 70px;
}

.challenge {
  display: flex;
  justify-content: center;
  font-size: var();
  line-height: 30px;
}
.challenge > div {
  margin: 30px 50px;
  width: 40%;
}