@charset "UTF-8";
@-webkit-keyframes slidein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slidein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes slideinUp {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes slideinUp {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
.momBaby .momBabyImg, .if .ifImg, .charming .introduceImg, .mainpage-header hgroup {
  display: flex;
  align-items: center;
}

.momBaby p:first-child, .if p:first-child, .charming p:first-child {
  font-size: var(--heading1);
  text-align: center;
  line-height: 100px;
  padding-bottom: 50px;
}

.momBaby p, .if p, .charming p {
  font-size: var(--heading4);
  line-height: 50px;
  color: var(--gray2);
  text-align: center;
  padding-bottom: 20px;
}

.momBaby .momBabyImg img, .momBaby .momBabyImg iframe, .if .ifImg img, .charming .introduceImg img {
  border-radius: 15px;
  box-shadow: 0px 0px 10px var(--gray2);
  transition: 0.5s;
}

.mainpage-header {
  height: 100%;
}
.mainpage-header hgroup {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-name: slidein;
          animation-name: slidein;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  flex-direction: column;
  margin-top: 20%;
}
.mainpage-header hgroup p:first-child {
  color: var(--yellow2);
  font-size: var(--heading2);
  line-height: 70px;
}
.mainpage-header hgroup p {
  font-size: var(--heading4);
  color: var(--gray2);
  line-height: 30px;
}
.mainpage-header hgroup img {
  width: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}
.mainpage-header hgroup .icon {
  margin-top: 120px;
  font-size: var(--heading1);
  color: var(--gray2);
  transition: 0.2s;
}
.mainpage-header hgroup .icon:hover {
  color: var(--gray1);
}

.slideinUP {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: slideinUp;
          animation-name: slideinUp;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.noneSlide {
  opacity: 0;
}

.charming {
  margin: 100px 0px;
  /* 圖片外圍最大div */
}
.charming p:first-child {
  color: #795252;
}
.charming .introduceImg {
  justify-content: center;
  flex-wrap: wrap;
}
.charming .introduceImg > div {
  text-align: center;
  margin: 0px 5px;
}
.charming .introduceImg > div:last-child {
  margin-left: 0px;
}
.charming .introduceImg img {
  width: 425px;
}

.if {
  margin: 100px 0px;
}
.if p:first-child {
  color: var(--yellow1);
}
.if .ifImg {
  justify-content: center;
}
.if .ifImg > div {
  text-align: center;
  margin: 0px 5px;
}
.if .ifImg > div:last-child {
  margin-left: 0px;
}
.if .ifImg img {
  width: 98%;
  margin: 0px 20px;
}

.momBaby {
  margin: 100px 0px;
}
.momBaby p:first-child {
  color: var(--gray2);
}
.momBaby .momBabyImg iframe {
  width: 700px;
  height: 430px;
  margin-left: 20px;
  border: none;
}
.momBaby .momBabyImg img {
  width: 100%;
}

@media screen and (max-width: 780px) {
  .charming img {
    width: 400px;
  }
}
@media screen and (max-width: 441px) {
  .charming img {
    width: 200px;
  }
}