.if .ifImg, .videoCharming, .mainpage-header hgroup {
  display: flex;
  align-items: center;
}

.momBaby hgroup p:first-child, .if hgroup p:first-child, .charming h1 {
  font-size: var(--heading1);
  text-align: center;
  line-height: 70px;
  font-weight: 500;
}

.momBaby p, .if p, .charming p {
  font-size: var(--heading4);
  line-height: 50px;
  color: var(--gray2);
  text-align: center;
  padding-bottom: 20px;
}

.if .ifImg img, .videoCharming iframe {
  border-radius: 15px;
  box-shadow: 0px 0px 10px var(--gray2);
  transition: 0.5s;
}

.mainpage-header hgroup {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-name: slidein;
          animation-name: slidein;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  flex-direction: column;
  margin-top: 20%;
}
.mainpage-header hgroup p:first-child {
  color: var(--yellow2);
  font-size: var(--heading2);
  line-height: 70px;
}
.mainpage-header hgroup p {
  font-size: var(--heading4);
  color: var(--gray2);
  line-height: 40px;
}
.mainpage-header hgroup img {
  width: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}
.mainpage-header hgroup .icon {
  margin-top: 120px;
  font-size: var(--heading1);
  color: var(--gray2);
  transition: 0.2s;
}
.mainpage-header hgroup .icon:hover {
  color: var(--gray1);
}

.charming {
  margin: 100px 0px;
}
.charming h1 {
  color: #795252;
}

.videoCharming p {
  width: 50%;
  padding-right: 1%;
}
.videoCharming div {
  position: relative;
  width: 50%;
  height: 0;
  padding-bottom: 30%;
}
.videoCharming iframe {
  margin: 0px 10px;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.seeMore {
  position: relative;
  height: 25vh;
}
.seeMore button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  border: none;
  box-shadow: 0px 0px 5px var(--gray1);
  color: var(--gray2);
  background-color: #fff;
  font-size: var(--heading4);
  padding: 1% 2%;
  border-radius: 15px;
  Cursor: pointer;
  transition: 0.5s;
}
.seeMore button:hover {
  border-color: var(--gray1);
  color: var(--gray1);
  box-shadow: 0px 0px 10px var(--gray1);
}

.if {
  margin: 100px 0px;
}
.if hgroup p:first-child {
  color: var(--if);
}
.if .ifImg div {
  margin: 0px 5px;
  margin-left: 50px;
}
.if .ifImg img {
  width: 100%;
}

.momBaby {
  margin-bottom: 10%;
}
.momBaby hgroup p:first-child {
  color: var(--momBaby);
}

@media screen and (max-width: 1024px) {
  .charming h1, .if hgroup p:first-child, .momBaby hgroup p:first-child {
    font-size: var(--heading3);
    text-align: center;
    line-height: 50px;
    padding-bottom: 0px;
  }
}
@media screen and (max-width: 780px) {
  .charming {
    margin: 0px;
  }
  .charming .introduceImg > div {
    width: calc(50% - 10px);
  }
  .charming p, .if p, .momBaby p {
    line-height: 30px;
  }
  .mainpage-header hgroup p:first-child {
    font-size: var(--heading3);
  }
  .mainpage-header hgroup p {
    line-height: 30px;
  }
}
@media screen and (max-width: 441px) {
  .mainpage-header hgroup .icon {
    margin: 50px 0px;
  }
  .videoCharming {
    flex-direction: column;
  }
  .videoCharming p {
    width: 100%;
    padding-right: 0;
    margin-top: 10%;
  }
  .videoCharming div {
    order: -1;
    width: 100%;
    height: 100px;
  }
  .videoCharming iframe {
    margin: 0;
  }
  .seeMore {
    height: 15vh;
  }
  .seeMore button {
    padding: 3% 5%;
  }
  .if {
    margin: 0px;
  }
  .if .ifImg {
    display: block;
  }
  .if .ifImg div {
    margin: 0px;
  }
}