.momBaby {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.momBaby p {
  position: absolute;
  padding: 5%;
  font-size: var(--heading1);
  color: var(--momBaby);
  z-index: 1;
}
.momBaby img {
  width: 500px;
  opacity: 0.3;
}

@media screen and (max-width: 780px) {
  .momBaby p {
    font-size: var(--heading3);
  }
  .momBaby img {
    width: 90%;
  }
}
@media screen and (max-width: 441px) {
  .momBaby p {
    font-size: var(--heading4);
  }
}