.logoName {
  display: flex;
  align-items: center;
}

.navBar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 2;
  padding: 10px 0px;
  box-shadow: 0px 0px 10px var(--gray1);
  transition: 1s;
}

.charming {
  position: relative;
  background-color: var(--charming);
}

.logoName img {
  width: 50px;
  white-space: nowrap;
}
.logoName a {
  font-weight: bold;
  padding-left: 10px;
  font-size: var(--heading3);
}

.mainpageLogo {
  color: var(--yellow1);
}

.charmingLogo {
  color: var(--green1);
}

.selfRelianceLogo {
  color: var(--if);
}

.momBabyLogo {
  color: var(--momBaby);
}

.item .itemactive {
  margin: 0px 30px;
  font-weight: bold;
  border-bottom: 3px solid var(--yellow2);
}
.item a {
  padding: 0px 10px;
  transition: 0.5s;
  font-size: var(--heading4);
  color: #333333;
}
.item a:hover {
  border-bottom: 3px solid var(--yellow2);
}

.charmingColor a {
  color: var(--brown2);
}

.selfRelianceColor a {
  color: var(--gray1);
}

.momBabyColor a {
  color: var(--gray1);
}

@media screen and (max-width: 1024px) {
  .navBar nav {
    margin: 0px 30px;
  }
}
@media screen and (max-width: 780px) {
  .navBar .logoName a {
    font-size: var(--heading3);
  }
}
@media screen and (max-width: 600px) {
  .navBar .logoName a {
    font-size: var(--heading5);
  }
  .navBar .item .itemactive {
    margin: 0px;
  }
  .navBar .item a {
    padding: 0px 10px;
    transition: 0.5s;
    font-size: var(--heading5);
  }
  .navBar .logoName img {
    width: 30px;
  }
  .navBar nav {
    margin: 0px 15px;
  }
}
@media screen and (max-width: 320px) {
  .navBar .item a {
    font-size: var(--heading6);
  }
}