.rightFixBar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: fixed;
  top: 20%;
  right: 30px;
  line-height: 30px;
  border-right: 1px solid var(--gray3);
}
.rightFixBar a {
  transition: 0.2s;
}
.rightFixBar a::after {
  content: " -";
}
.rightFixBar a:hover {
  font-size: large;
}

.phoneImg[aria-current]:not([aria-current=""]):not([aria-current=false]) {
  background-color: aqua;
}

.textcolor {
  color: var(--green2);
}

.changeColor {
  color: var(--green1);
  font-weight: bold;
  font-size: large;
}

@media screen and (max-width: 1024px) {
  .rightFixBar {
    font-size: var(--heading6);
  }
  .changeColor {
    font-size: var(--heading5);
  }
}
@media screen and (max-width: 780px) {
  .rightFixBar {
    display: none;
  }
}