.selfReliance {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.selfReliance p {
  position: absolute;
  padding: 5%;
  font-size: var(--heading1);
  color: var(--if);
  z-index: 1;
}
.selfReliance img {
  width: 35%;
  opacity: 0.3;
}

@media screen and (max-width: 780px) {
  .selfReliance p {
    font-size: var(--heading3);
  }
  .selfReliance img {
    width: 90%;
  }
}
@media screen and (max-width: 441px) {
  .momBaby p {
    font-size: var(--heading4);
  }
}